<div class="container mt-5">
  <h1 class="text-center">Youtube Trending Video</h1>
  <div class="col-md-8 m-auto">
      <div class="form-group mt-2">
            <select class="form-control" (change)="selectCountry($event)">
                <option [value]="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]='country.alpha2Code'>{{country.name}}</option>
            </select>
      </div>
  </div>
</div>


<div class="embed-responsive embed-responsive-4by3" *ngFor="let video of countryTrendingYoutubeVideos | paginate: { itemsPerPage: 10, currentPage: p }">
  <iframe class="embed-responsive-item" [src]="getVideo(video.id) | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div class="content">
    <h4 class="title">{{video.snippet.title}}</h4>
    <p class="description">{{video.snippet.description.substring(0, 300)}}...</p>
  </div>
</div>


<pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
