<div class="container mt-5">
  <h1 class="text-center">Youtube Trending Video</h1>
  <div class="col-md-8 m-auto">
    <div class="form-group mt-2">
      <nz-select class="form-control" [nzSize]="'large'" nzShowSearch nzAllowClear nzPlaceHolder="Select a country"
        (ngModelChange)="selectCountry($event)">
        <nz-option *ngFor="let country of (countries$ | async)" [nzLabel]="country.name"
          [nzValue]="country.code"></nz-option>
      </nz-select>
    </div>
  </div>
</div>




<section class="container">
  <nz-card nzHoverable [nzCover]="coverTemplate" *ngFor="let video of countryTrendingYoutubeVideos()"
    (click)="openModal(video)">
    <img alt="example" [src]="video.snippet.thumbnails.standard.url" />
    <nz-card-meta [nzTitle]="video.snippet.channelTitle" [nzDescription]="video.snippet.title"></nz-card-meta>
  </nz-card>
</section>